@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');
*{
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 500;
}

:root {
    --primary-bg-color: #F5F5F5;  /* Light grayish background */
    --secondary-bg-color: #333333;  /* Dark bluish background */
    --onprimary-bg-color: #2E9D7F;  /* Bright blue for text on primary background */
    --onsecondary-bg-color: #2C3E50;  /* Light grayish text on secondary background */
    --primary-text-color: #333333;  /* Dark text color */
    --secondary-text-color: #FFFFFF;  /* White text color */
    --input-bg-color: #2E9D7F13;
    --error-text-color: #ff3333;
    --sucess-text-color: #2C7E90;
  }


*, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    border: 0;
    margin: 0;
}

h1 {
    font-size: 1.8em;
    font-weight: bold;
}

header nav span {
    font-size: 1.2em;

}

a {
    cursor: pointer;
}

.icon {
    max-width: 100%;
    max-height: 100%;

}

.user_icon {
    width: 3em;
}

body {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {

   flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body > header,  body > footer {
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-bg-color);
    padding: 0.5em;
}

body > header {
    position: fixed;
    top: 0;
    gap: 0.5em;
    z-index: 13;
}

body > footer {
    position: relative;
    bottom: 0;
    align-self: flex-end;
    gap: 1em;
}

body > header section {
    padding: 0.0em 0.5em;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}


body > header section h1 .icon {
    height: 1.8em;
}

body > header nav ul, body >footer ul, body >footer h6 {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

body > header nav ul {
    overflow-x: scroll;
    justify-content: flex-start;
    gap: 1em;
}

body >footer ul, body >footer h6 {
    justify-content: center;
    align-items: center;
    gap: 2em;
}

body > header nav ul *, body >footer ul * {
    color: inherit;
    padding: 0.2em;
    margin: 0;
    border-radius: 0.5em;
    min-width: fit-content;
}


body > header nav ul *:hover, body >footer ul *:hover {
    background: var(--onprimary-bg-color);
    color: inherit;
}


#content label {
    font-weight: normal;
}

#content > form {
    margin: 0 auto;
    padding: 1em;
    max-width: 20em;
    border: 1px solid var(--onsecondary-bg-color);
}

.error {
    font-weight: bold;
    color: var(--error-text-color);
}

.success {
    font-weight: bold;
    color: var(--sucess-text-color);
}

#content > form input {
    background-color: white;
}

@media (max-width: 70em) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }

    main > header h1 {
        grid-row-end: span 2;
    }
}

@media (max-width: 40em) {
    #cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 25em) {
    body {
        margin: 0;
    }

    main > header {
        margin: 0;
        padding: 0.5em;
    }

    main > header span {
        margin: 0;
    }

    #content form {
        margin: 0;
        max-width: 25em;
    }

    article.card {
        margin: 0;
        border-bottom: 1px solid rgba(96, 108, 118, 0.4);
    }
}

/**
 * Override milligram colors
 * Some styles might be missing
 **/
button {
    background-color: var(--onsecondary-bg-color);
    border-color: var(--onsecondary-bg-color);
}

a.button {
    background-color: var(--onsecondary-bg-color);
}

a.button.button-outline {
    color: var(--onsecondary-bg-color);
}

a {
    color: var(--onsecondary-bg-color);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border-color: #9b4dca;
}
  
.avatar {
  border-radius: 50%;
  object-fit: cover;
}