.projectCreation {
    display: flex;
    justify-content: center;
    align-content: center;
}

.projectCreation .formContainer form input, .formContainer form textarea {
    background: var(--input-secondary-bg-color);
}

.projectCreation .shine {
    color: var(--on-third-bg-color);
}
