
@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');


body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

header{
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: black;
    min-height: 120px; 
}
header>div  {
    display: flex;
    justify-content: end;
    align-items: center;
    margin:0;
}
header>div>h1{
    font-size: 3rem;
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 600;
    color: white;
}
header nav{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
header nav ul{
    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
   
    
}

header nav ul li{
    margin-right: 3rem;  
}

header nav ul li a{
    color:white;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 500;
}
header nav ul li:last-child a {
    display: flex;
    background-color:white;
    color: #698996;
    padding: 10px 25px 10px 25px;
    transition: background-color 0.3s, color 0.3s; 
}
header nav ul li:not(:last-child) a:hover {
    border-width: 0 0 2px 0;
    border-color: #698996;
    border-style: solid;
  }
  
header nav ul li:last-child a:hover{
    background-color:#698996;
    color:white;
    border:none;
  }


main{

    padding-top: 120px;
    display: grid;
    grid-template-rows: auto 2fr;
}
main>div:nth-child(1){
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

main > div > h1 {
  color: black; 
  text-align: center;
  font-size: 3rem;
  font-family: 'TT Norms Pro', sans-serif;
  font-weight: 600;
}


.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .question {
    border-width: 4px;
    border-style: solid;
    border-color: #698996;
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 4s ease-in;
  }
  
  .question>span {
    font-size: 2rem;
    text-decoration: none;
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 500;
  }
  
  .question>button {
    color:#698996;
    background-color: white;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 500;
    border-style: none;
  }
  
  .answer {
    display: flex;
    width: 50%;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 1rem;
    max-height: 0;
    transition: max-height 1s ease-out, transform 1s ease-out;
  }
  
  .answer.open {
    display: flex;
    width: 50%;
    margin-bottom: 1rem;
    max-height: 1000px; 
    transform: scaleY(1);
    transition: max-height 1s ease-in, transform 1s ease-in;
  }
  
  
  .answer p {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'TT Norms Pro', sans-serif;
    font-weight: 500;
  }
  
  

  

  