.forum {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
}

.forum-container{
    display: flex;
    flex-direction: column;
}

.own-post,
.participants-post {
    width: 100%;
    max-width: 42em;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 0.5em;
    background: var(--posts-bg-color);
    border-radius: 5px;
    max-height: 100%;
    overflow: scroll;
}

.own-post {
    border: 2px solid var(--modal-main-border);
    align-self: flex-end;
}

.participants-post {
    border: 2px solid var(--modal-secondary-border);
    align-self: flex-start;
}

.post-header,
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 0;
}

.post-footer {
    align-self: flex-end;
}

.post-edit {
    display: flex;
    gap: 0.5em;
}

.post-edit > * {
    margin: 0;
}

.date-post {
    margin: 0;
}

.edit-post,
.delete-post,
button[type="submit"] {
    background-color: var(--close-button-primary-color);
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-flex; 
    align-items: center;  
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    height: 3.8rem;

}

.edit-post:hover,
.delete-post:hover,
button[type="submit"]:hover {
    background-color: var(--close-button-hover-color);
}

.no-posts {
    width: 100%;
    max-width: 42em;
    margin: 2em auto;
    padding: 1em;
    background: var(--posts-bg-color);
    border-radius: 5px;
    text-align: center;
}

.new-post {
    align-self: flex-end;
    margin: 0 auto;
    max-width: 60em;
    width: 100%;
}

.post-body{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}