
.forum {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
    height: 100%;
}

.forum-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 4rem;
    overflow-y: auto;
    margin: 1em auto;
}

.post-container {
    width: 100%;
    max-width: 42em;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.own-post {
    width: 100%;
    max-width: 42em;
    border: 2px solid var(--onsecondary-bg-color);
    align-self: flex-end;
}

.participants-post {
    width: 100%;
    max-width: 42em;
    border: 2px solid var(--onprimary-bg-color);
    align-self: flex-start;
}

.post-header,
.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.post-footer {
    align-self: flex-end;
}

.post-edit,
.post-user {
    display: flex;
    align-items: center;
}

.edit-post,
.delete-post,
button[type="submit"] {
    background-color: var(--onsecondary-bg-color);
    color: white;
    border: none;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.no-posts {
    width: 100%;
    max-width: 42em;
    margin: 2em auto;
    padding: 1.5em;
    background: var(--primary-bg-color);
    border-radius: 8px;
    text-align: center;
    color: var(--secondary-bg-color);
}

.new-post {
    width: 100%;
    max-width: 60em;
    margin: 1em auto;
    padding: 1em;
    background: var(--onprimary-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.post-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.new-post textarea {
    width: calc(100% - 2em);
    padding: 1em;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin-bottom: 1em;
    font-size: 16px;
    resize: none;
}

.new-post button[type="submit"] {
    background-color: var(--onsecondary-bg-color);
    color: white;
    border: none;
    padding: 0.7em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}