.modal {
    background-color: white;
    width: 95%;
    max-width: 40em;
    margin: auto;
    border-radius: 0.5em;
}

.fa-x {
    font-size: 1.2em;
    color: inherit;
}

.fa-x:hover {
    color: var(--close-button-hover-color);
}

.modal > div {
    padding: 1.5em;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h3 {
    font-weight: 500;
}

.modal-body {
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--modal-secondary-border)
}

.modal-buttons {
    display: flex;
    justify-content: end;
    column-gap: 2em;
    align-items: center;
}

.modal-buttons > a {
    color: inherit;
}

.modal p, .modal button {
    margin: 0;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.6);
}

.modal-confirm {
    border: 0;
}

dialog.modal-error .modal-header {
    background-color: var(--modal-header-error);
    color: white
}

dialog.modal-warning .modal-header {
    background-color: var(--modal-header-warning);
    color: white
}

dialog.modal-info .modal-header {
    background-color: var(--modal-header-info);
    color: white
}

dialog.modal-success .modal-header {
    background-color: var(--modal-header-success);
    color: white
}

.icon-title-wrapper i {
    font-size: 1.5em;
}

.icon-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
}