main{
    justify-content: flex-start;
}
.container-fluid{
    overflow-x: hidden;
}
.first header>h1{
    color : var(--primary-bg-color);
}

.first{
    background-image: linear-gradient(to right, #141e30, #243b55);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 2%;
 
}
.infos{
    font-size: 1.5em;
    color: white;
    text-transform: capitalize;
}
figure {
    border: white 4px solid;
    width: 10em;
    height: 10em;
    overflow: hidden;
    border-radius: 50%;
  }
  
figure>img {
   object-fit: cover; 
}
.dropdown-item{
    font-weight: 500;
    text-transform: none;
    font-size: 1.5em;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.dropdown-header{
    font-size: 1.5em; 
    color:var(--primary-text-color);
    font-weight:500;
}
.delete-btn{
    text-align: center;
    font-weight: 500;
    background-color: var(--error-text-color);
    color:var(--primary-bg-color);
}

.editbutton{
    text-align: center;
    font-weight: 500;
    color:var(--primary-text-color);
}
.editbutton:focus,.delete-btn:focus{
    background-color: transparent;
}


.second{
    padding: 2%;
}
.second header>h1{
    color: var(--primary-text-color);
}

.task{
    border-bottom: 1px grey solid;
}

.taskinfo>span{
    color: var(--primary-text-color);
    font-size: 1.5em;
}

.text-truncate{
    overflow: hidden; 
    display: block; 
    color: var(--primary-text-color);
}
.taskbtn{
    font-size: 1em;
    background-color: #243b55;
    color: white;
}


.statInfo,.statNumber{
    color: var(--primary-text-color);
}
.statInfo{
    font-size: 2em;
}
.statNumber{
    font-size: 3em;
}