
.taskCreation{
    display: flex;
    justify-content: center;
    align-content: center;
}

.taskCreation .formContainer form input,.formContainer form textarea{
    background: var(--input-bg-color);
}
.taskCreation .shine {
    color: var(--onprimary-bg-color);
}

.taskPage{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 70em;
    margin: auto;
    padding: 2em;
    gap: 4em;
}
.taskPage .container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 4em;
}
.taskPage header{
    display: flex;
    gap: 3em;
    align-content: center;
    text-align: center;
}
.taskPage header .status{
    padding: 0.2em 0.5em ;
    border-radius: 10em;
    font-size: 1em;
    color: white;

}
.taskPage header .status.open{
    background: var(--onprimary-bg-color);
}
.taskPage header .status.closed{
    background: var(--on-third-bg-color);
}
.taskPage header .status.cancelled{
    background: var(--error-text-color);
}
.taskPage .primaryContainer{
    display: flex;
    gap: 3em;
    flex-direction: column;
    width: 40em;
}
.taskPage .sideContainer{
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 20em;
}
.taskPage .sideContainer > *{
    background: var(--input-bg-color);
    padding: 0.5em;
    text-align: center;
}

.taskPage .primaryContainer header{
    padding: 1em;
    text-align: center;
}

.taskPage .sideContainer ul{
    padding:  1em 0.5em;
    text-align: start;
}
a{
    text-decoration: none;
    color: var(--primary-text-color)
}
.taskPage .sideContainer  h5{
    font-size: 1.2em;
    font-weight: bold;
}
.taskPage header a.edit {
    padding: 0.2em 0.7em;
    background: var(--onprimary-bg-color);
    color: white;
    border-radius: 0.3em;
    margin-left: auto;
    margin-right: 3em;
}

@media (max-width: 74em) {

    .taskPage .primaryContainer{

        width: 100%;
        max-width: 40em;
        margin: auto;
    }
    .taskPage .sideContainer{

        width: 100%;
        max-width: 30em;
        margin: auto;
    }

}
@media (max-width: 40em) {

    .taskPage {
        padding: 1em;
    }
}

