.tasks-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tasks-content > * {
    margin:  0 auto ;
}
.tasks-list{
    width: 100%;
    max-width: 80em;
    border: 1px solid var(--primary-border);

}

