.tasks-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    min-height: 80vh;

    gap: 1em;
}

.tasks-list > header > *{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;
}
.tasks-list > header > * > a{
    margin-left: auto;
    background: #2C7E90;
}
.tasks-content .search > input{
    max-width: 50em;

    border: none;
    background: white;
}

.tasks-content > * {
    margin:  0 auto ;
}
.tasks-list{
    width: 100%;
    background: #DDDDDD;
    border-bottom: 1px solid var(--primary-border) ;
    min-height: 56vh ;

}
.tasks-list > .tasks > .taskCard{
    padding: 0.5em 1.5em ;
    background: var(--primary-bg-color);

}

.tasks-list > .tasks{
    max-height: 60vh;
    overflow-y: scroll;
}
.tasks-list > header{
    width: 100%;
    padding: 1em;
    display: flex;
    background: var(--onsecondary-bg-color);
    gap: 2em;
    flex-wrap: wrap;
}


