
.taskCreation{
    display: flex;
    justify-content: center;
    align-content: center;
}

.taskCreation .formContainer form input,.formContainer form textarea{
    background: var(--input-bg-color);
}
.taskCreation .shine {
    color: var(--onprimary-bg-color);
}

.taskPage{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 70em;
    margin: auto;
    padding: 2em;
    gap: 4em;
}
.taskPage .container{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 4em;
}
.taskPage header{
    display: flex;
    gap: 3em;
    align-content: center;
    text-align: center;
}
.taskPage header .status{
    padding: 0.2em 0.5em ;
    border-radius: 10em;
    font-size: 1em;
    color: white;
}
.taskPage header .status.open{
    background: var(--onprimary-bg-color);
}
.taskPage header .status.closed{
    background: var(--on-third-bg-color);
}
.taskPage header .status.cancelled{
    background: var(--error-text-color);
}
.taskPage .primaryContainer{
    display: flex;
    gap: 3em;
    flex-direction: column;
    width: 40em;
}
.taskPage .sideContainer{
    display: flex;
    gap: 1em;
    flex-direction: column;
    width: 20em;
}
.taskPage .sideContainer > *{
    background: var(--input-bg-color);
    padding: 0.5em;
    text-align: center;
}

.taskPage .primaryContainer header{
    padding: 1em;
    text-align: center;
}

.taskPage .sideContainer ul{
    padding:  1em 0.5em;
    text-align: start;
}
a{
    text-decoration: none;
    color: var(--primary-text-color)
}
.taskPage .sideContainer  h5{
    font-size: 1.2em;
    font-weight: bold;
}
.taskPage header{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap-reverse;
}
.taskPage header .info{
  display: flex;
    gap :2em;
}

.taskPage header .actions a, .multiselector span {
    padding: 0.5em 0.7em;
    background: var(--onprimary-bg-color);
    color: white;
    border-radius: 0.3em;

   margin-right: 2em;
}
.taskPage header .actions a:hover {
    background: var(--onsecondary-bg-color);
}
.taskPage header a.delete{
    background: var(--error-text-color);
}

@media (max-width: 74em) {

    .taskPage .primaryContainer{

        width: 100%;
        max-width: 40em;
        margin: auto;
    }
    .taskPage .sideContainer{

        width: 100%;
        max-width: 30em;
        margin: auto;
    }

}
.multiselector{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.multiselector span{
    width: 100%;
    text-align: center;
    background: var(--onsecondary-bg-color);
    margin: auto;
    border-radius: 10em;
    cursor: pointer;
}
.multiselector .dropdown{
    top: 150%;
    height: 25rem;
    z-index: 2;
    overflow-y: scroll;
    position: absolute;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    padding:  1em;
    box-shadow: 0 0.5em 0.5em #00000004,0 1em 1em #00000003,0 1.5em 1.5em #00000002,0 2em 2em #00000001;
}
.multiselector .dropdown.hidden{
    display: none;
}
.multiselector .dropdown .item{
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    padding: 1em;
}
.multiselector .dropdown .item * {
    margin: 0;
    padding: 0;

}
.multiselector .dropdown .item input[type="checkbox"]{
    scale: 1.5;
}

@media (max-width: 40em) {

    .taskPage {
        padding: 1em;
    }
}

