.team, .adminPage{
    min-height: 80vh;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.users-list{
    width: 100%;
    max-width: 60em;
    border: 1px solid var(--primary-border);
    border-radius: 1em;
    margin-bottom: 3em;

}
.users-list > .users{
    max-height: 60vh;
    overflow-y: scroll;
}
.users-list > header{
    width: 100%;
    padding:  1em ;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.users-list header > span{
    margin-left: 0.6em;
}
.users-list header > span i{
    margin-right: 0.6em;
}
.status.coordinator, .status.admin{
    background: var(--on-third-bg-color);
    max-height: 2em;
}
.status.member, .status.user{
    background: var(--onprimary-bg-color);
}
.users .user-item{
    width: 100%;
    padding: 0 1em ;
    border-top: 1px solid var(--primary-border) ;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-between;
    flex-wrap: wrap;
}
.users .user-item .userSection{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.users .user-item  .actions{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 3em;
    padding: 1em;
    margin-left: auto;
}
.users .user-item  .actions > *{
    cursor: pointer;
}

.actions .remove, .actions .delete{
    color: var(--error-text-color);
}
.actions .block{
    color: var(--warning-bg-color);
}
.actions .promote{
    color: var(--onprimary-bg-color);
}
.actions .edit {
    color: var(--onsecondary-bg-color);
}
.users .user-item  .actions >*:hover{
    color: var(--on-third-bg-color);
}
.users .user-item  .actions i{
    scale: 1.5;
}

 header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
 header .addUserContainer{

    width: 30em;
}
 header .addUserContainer form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1em;
    margin: 0;
}
 header .addUserContainer form > *{
    margin: 0;
    max-width: 20em;
}

.search{
    width: 100%;
    max-width: 60em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
 .search > input{
    max-width: 30em;
}
.addUserContainer{
    gap: 1em;
    display: flex;
    flex-direction: column;

}
.addUserContainer .error{
    align-self: flex-end;

 }

.userSection {
    justify-content: space-between;
    flex: 100%;
    width: 100%;
    max-width: 40em;
}

.adminPage .userSection{
    max-width: 60em;
}


.adminPage .users-list, .adminPage .search{
    max-width: 80em;
}

.invisible {
 scale: 1.3;

}




