.team{
    min-height: 80vh;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.users-list{
    width: 100%;
    max-width: 60em;
    border: 1px solid var(--primary-border);
    border-radius: 1em;
}
.users-list > .users{
    max-height: 60vh;
    overflow-y: scroll;
}
.users-list > header{
    width: 100%;
    padding: 1em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.status.coordinator{
    background: var(--on-third-bg-color);
    max-height: 2em;
}
.status.member{
    background: var(--onprimary-bg-color);
}
.users .user-item{
    width: 100%;
    padding: 0 1em ;
    border-top: 1px solid var(--primary-border) ;
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: space-between;
}
.users .user-item .user{
    display: flex;
    align-items: center;
    gap: 2em;
}

.users .user-item  .actions{
    width: 100%;
    max-width: 10em;
    display: flex;
    justify-content: center;
}
.users .user-item  .actions i{
    scale: 1.3;


}


