.team, .adminPage{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.users-list{
    width: 100%;

    margin-bottom: 3em;

}

.users-list > .users{
    padding: 1em 0;
}

.users-list > header{
    width: 100%;
    padding:  1em ;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    color: white;
    background: var(--onsecondary-bg-color);
}
.users-list > header a{
    margin-left: auto;
    background: var(--sucess-text-color);
}
.users-list > header > *{
    width: 100%;
    display: flex;
}
.users-list header > span{
    margin-left: 0.6em;
}
.users-list header input{
    background: var(--primary-bg-color);
}
.users-list header button{
    background: var(--sucess-text-color);
}
.users-list header > span i{
    margin-right: 0.6em;
}
.status.coordinator, .status.admin{
    background: var(--on-third-bg-color);
    max-height: 2em;
}
.status.member, .status.user{
    background: var(--onprimary-bg-color);
}

.actions .remove, .actions .delete{
    color: var(--error-text-color);
}
.actions .block{
    color: var(--warning-bg-color);
}
.actions .promote{
    color: var(--onprimary-bg-color);
}
.actions .edit {
    color: var(--onsecondary-bg-color);
}
.users .user-item  .actions >*:hover{
    color: var(--on-third-bg-color);
}
.users .user-item  .actions i{
    scale: 1.5;
}

 .team header, .adminPage header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.team header .addUserContainer{
    margin-left: auto;
    width: 30em;
}
 .team header .addUserContainer form{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1em;
    margin: 0;
}
 .team header .addUserContainer form > *{
    margin: 0;
    max-width: 20em;
}

.search{
    width: 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;

}
 .search > input{
    max-width: 30em;

}
.addUserContainer{
    gap: 1em;
    display: flex;
    flex-direction: column;

}
.addUserContainer .error{
    align-self: flex-end;

 }
.invisible {
 scale: 1.3;
}

.users-list .user-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    gap: 1em;
    border-bottom: 1px solid var(--primary-border);
    flex-wrap: wrap;
    align-items: center;
}
.users-list .user-item > *{
    width: 100%;
}
.users-list .user-item .userSection{
    max-width: 40em;
}
.users-list .user-item .actions{
    max-width: fit-content;
    margin-right: 5em;
    display: flex;
    align-items: center;
    gap: 2em;
}
.users-list .user-item .status{
    width: fit-content;
    height: fit-content;
}



