.shine{
    color:var(--onprimary-bg-color);
    font-weight: 500;
    margin-bottom: 1em;
}

.admin-content {
    width: 100%;
    margin: 2em auto;


    border-radius: 8px;

    font-size: 2rem;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    gap: 2em;
    text-align: center;
}

.admin-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 0.5em;
    margin: 0 auto;
    max-width: 80em;
    overflow-x: auto;
    width: 100%;
    border: 1px solid var(--onsecondary-bg-color);
    border-radius: 8px;

    background-color: var(--onsecondary-bg-color);
    overflow-y: auto;

}

.user, .admin-users header{
    background-color: var(--primary-bg-color);
    overflow-x: auto;
   
    width: 100%;
    min-width: 40em;
}

.admin-users div, .admin-users header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--onsecondary-bg-color);
    border-radius: 8px;
    padding: 1em;

    text-align: left;

}

.userContainer{
    overflow-y: auto;
    height: 60vh;
    width: 100%;
    min-width: 40em;

}

.admin-users .name {
    width: 20em;
    align-self: start;
}

.admin-users .email {
    width: 30em;
}

.admin-users .role {
    width: 10em;
    align-self: left;
}

.admin-users .delete {
    width: 10em;
    align-self: end;
}

.admin-users .change{
    width: 10em;
    align-self: end;
    text-align: center;
}

.admin-users section {
    color: var(--primary-text-color);
}

.admin-content input {
    max-width: 60em;
    width: 100%;
    padding: 0.5em;
    border: 1px solid var(--onsecondary-bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

