.status{
    padding: 0.2em 0.5em ;
    border-radius: 10em;
    font-size: 1em;
    color: white;
}
.status.open{
    background: var(--onprimary-bg-color);
}
.status.closed{
    background: var(--on-third-bg-color);
}
.status.cancelled{
    background: var(--error-text-color);
}
.taskCard{
    padding: 1em ;
    width: 100%;
    border-top: 1px solid #CCCCCC99;
}
.taskCard ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-content: center;

    margin:  0;

    flex-wrap: wrap;
    gap: 1em;


}
.taskCard ul header {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50em;
}
.taskCard ul header h3{
    font-size: 1.3em;
    font-weight: normal;
}

.taskCard ul .deadLine{
    width: 15em;
}
.userCard{
    display: flex;
    gap: 1em;
    overflow: clip;
    background: var(--primary-bg-color);
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.userCard .info{
    flex: 1;
}
.userCard h3{
    font-weight: 500;
    font-size: 1.2em;
}

.userCard.small h3{
    font-size: 1em;
}
.userCard.small h5{
    font-size: 0.8em;
}
.userCard.small .avatar{
    width: 2em;
    height: 2em;

}

